button {
    margin-top: 20px;
    box-sizing: border-box;
    padding-bottom: 80px;
    }

    button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #CFCFCF;
        color: #1C1C1C;
        border: none;
        border-radius: 30px;
        padding: 18px 20px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        text-align: center;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #1C1C1C;
        color: #949494;;
    }

    .arrow-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    
    .arrow-icon img {
        width: 35px;
        height: 35px;
        object-fit: cover;
}


.additional-button {
    text-align: center;
    margin-top: 20px;
    }

    .additional-button p {
        text-align: center;
        color: #5D5D5D;
        font-size: 14px;
    }

    .additional-button a {
        color: #D0D0D0;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .additional-button a:hover {
        color: #ffffff;
}