/* Контейнер списка стран */
.iti__countzry-list {
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    background-color: #101010;
    border: 1px solid #000000;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    }

    /* Элемент списка страны */
    .iti__country {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.2s;
        background-color: #2e2e2e;

    }

    /* Флаг страны внутри элемента */
    .iti__flag {
        margin-left: 7px;
    }

    .iti__country-name {
        margin-left: 7px;
    }

    /* Hover-эффект для элемента */
    .iti__country:hover {
        background-color: #3e3e3e;
    }

    /* Активный (выбранный) элемент */
    .iti__country.iti__active {
        background-color: #9e9e9e;
    }

    .iti__country-list {
        overflow-y: scroll; /* Включаем прокрутку по вертикали */
        -ms-overflow-style: none; /* Скрываем скроллбар в IE и Edge */
        scrollbar-width: none; /* Скрываем скроллбар в Firefox */
    }
    
    .iti__country-list::-webkit-scrollbar {
        display: none; /* Скрываем скроллбар в Chrome, Safari и других WebKit-браузерах */
}