{% extends "auth_base.html" %}

{% block title %}
    Восстановление пароля | MixNet
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Письмо отправлено</h1>
        
        {% if message %}
            <p class="message">{{ message }}</p>
        {% else %}
            <p class="message">На указанную почту отправлено письмо с инструкциями для восстановления пароля.</p>
        {% endif %}

        <p>Проверьте вашу почту, если там нету письма, загляните в папку "Спам"</p>
        
        <!-- Кнопка -->
        <div class="additional-button">
            {% if role == "business" %}
                <button type="button" onclick="window.location.href='/business/login'">
                    Вернуться к авторизации
                    <span class="arrow-icon">
                        <img src="/common/images/arrow.svg" alt="Стрелка">
                    </span>
                </button>
            {% elif role == "manager" %}
                <button type="button" onclick="window.location.href='/manager/login'">
                    Вернуться к авторизации
                    <span class="arrow-icon">
                        <img src="/common/images/arrow.svg" alt="Стрелка">
                    </span>
                </button>
            {% else %}
                <button type="button" onclick="window.location.href='/login'">
                    Вернуться к авторизации
                    <span class="arrow-icon">
                        <img src="/common/images/arrow.svg" alt="Стрелка">
                    </span>
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}