{% extends "auth_base.html" %}

{% block title %}
    Восстановление пароля | MixNet
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="form-container">
        <h1>Восстановить пароль</h1>
        <p>Введи номер телефона и почту для получения ссылки на восстановление пароля</p>
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}

        <!-- Форма заполнения -->
        <form id="resetform" method="post" action="/forgot-password">
            <label>
                <input type="tel" id="phone" name="phone" placeholder="Номер телефона" required value="{{ phone }}">
            </label>
            
            <label>
                <input type="email" id="email" name="email" placeholder="Email" required>
            </label>

            <!-- Основная кнопка -->
            <button type="submit">
                Отправить
                <span class="arrow-icon">
                    <img src="/common/images/arrow.svg" alt="Стрелка">
                </span>
            </button>
        </form>

        <!-- Дополнительная кнопка -->
        <div class="additional-button">
            {% if role == "business" %}
                <p><a href="/business/login">Вернуться к авторизации</a></p>
            {% elif role == "manager" %}
                <p><a href="/manager/login">Вернуться к авторизации</a></p>
            {% else %}
                <p><a href="/login">Вернуться к авторизации</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}