{% extends "auth_base.html" %}

{% block title %}
    Восстановление пароля | MixNet
{% endblock %}

{% block styles %}
{% endblock %}

<!-- Подключение основной контент для этой страницы -->
{% block content %}
    <div class="form-container">
        <h1>Новый пароль</h1>
        
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <!-- Форма заполнения -->
        <form method="post" action="/new-password">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="phone" value="{{ phone }}">
            
            <!-- Поле для ввода пароля -->
            <label class="password-input">
                <input type="password" id="password" name="password" placeholder="Новый пароль" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('password', 'passwordIcon')">
                    <img id="passwordIcon" src="/common/images/on.ico">
                </span>
            </label>
            
            <!-- Поле для повторного ввода пароля -->
            <label class="password-input">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Повторить новый пароль" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('confirm_password', 'confirmPasswordIcon')">
                    <img id="confirmPasswordIcon" src="/common/images/on.ico">
                </span>
            </label>

            <!-- Основная кнопка -->
            <button type="submit">
                Сохранить новый пароль
                <span class="arrow-icon">
                    <img src="/common/images/arrow.svg" alt="Стрелка">
                </span>
            </button>
        </form>
        
        <!-- Дополнительная кнопка -->
        <div class="additional-button">
            {% if role == "business" %}
                <p><a href="/business/login">Вернуться к авторизации</a></p>
            {% elif role == "manager" %}
                <p><a href="/manager/login">Вернуться к авторизации</a></p>
            {% else %}
                <p><a href="/login">Вернуться к авторизации</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
