{% extends "auth_base.html" %}

{% block title %}
    Восстановление пароля | MixNet
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="notification-window">
            <h1>Ваш пароль успешно обновлен :)</h1>

            <!-- Кнопка -->
            <div class="additional-button">
                {% if role == "business" %}
                    <button type="button" onclick="window.location.href='/business/login'">
                        Вернуться к авторизации
                        <span class="arrow-icon">
                            <img src="/common/images/arrow.svg" alt="Стрелка">
                        </span>
                    </button>
                {% elif role == "manager" %}
                    <button type="button" onclick="window.location.href='/manager/login'">
                        Вернуться к авторизации
                        <span class="arrow-icon">
                            <img src="/common/images/arrow.svg" alt="Стрелка">
                        </span>
                    </button>
                {% else %}
                    <button type="button" onclick="window.location.href='/login'">
                        Вернуться к авторизации
                        <span class="arrow-icon">
                            <img src="/common/images/arrow.svg" alt="Стрелка">
                        </span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
